name: Deploy to dev environment
on:
    push:
        branches:
            - "main"
jobs:
    redeploy_everything:
        name: Deploying everyting to the dev envirnment
        runs-on: ubuntu-latest
        steps:
            - name: Setup SSH
              run: |
                mkdir -p ~/.ssh
                echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/ssh_key
                chmod 600 ~/.ssh/ssh_key
                ssh-keyscan -H "${{secrets.EC2_HOST }}" >> ~/.ssh/known_hosts

            - name: Deploy via SSH
              run: |
                ssh -i ~/.ssh/ssh_key ubuntu@"${{ secrets.EC2_HOST }}" /usr/bin/bash << 'EOF'
                    set -e
                    # install node if not
                    if ! command -v node &> /dev/null; then
                        curl -fsSL https://deb.nodesource.com/setup_20.x | sudo -E bash -
                        sudo apt-get install -y nodejs
                    fi
                    
                    if ! command -v pnpm &> /dev/null; then 
                        sudo npm install -g pnpm
                    fi

                    if [ ! -d "ci_project" ]; then
                        git clone https://github.com/durgax04/ci_project.git
                    fi

                    cd ci-project
                    git pull origin main
                    pnpm install
                    pnpm build

                    if ! command -v pm2 &> /dev/null 
                    then 
                        sudo npm install -g pm2
                    fi

                    pm2 restart http-server
                    pm2 restart web-server
                    pm2 restart ws-server 
                EOF
