name: Deploy to prod environment
on:
    push:
        branches:
            - "production"
jobs:
    redeploy_everything:
        name: Deploying everyting to the prod envirnment
        runs-on: ubuntu-latest
        steps:
            - name: Setup SSH
              run: |
                mkdir -p ~/.ssh
                echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/ssh_key
                chmod 600 ~/.ssh/ssh_key

            - name: Deploy via SSH
              run: |
                ssh -i ~/.ssh/ssh_key -o StrictHostKeyChecking=no ubuntu@"${{ secrets.EC2_HOST_PROD }}" -t "cd ci_project && git pull &&  /home/ubuntu/.nvm/versions/node/v24.13.1/bin/pnpm install --frozen-lockfile && /home/ubuntu/.nvm/versions/node/v24.13.1/bin/pnpm build && pm2 restart http-server && pm2 restart web-server && pm2 restart ws-server"